.weather-flux {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(209, 228, 242);
    background: linear-gradient(150deg, rgba(209, 228, 242, 1) 50%, rgba(224, 219, 155, 1) 100%);
}

.weather {
    display: flex;
    flex-direction: column;
}

.weather_average {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.weather_average .weather_date {
    color: #5d828b;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.weather_average .average {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    position: relative;
    text-align: center;
}

.weather_average .average span {
    position: absolute;
    top:10px;
    font-size: 30px;
}


@media screen and (max-width: 560px) {
    .weather-flux {
        justify-content: flex-start;
    }

    .weather {
        padding-top: 80px;
        overflow: auto;
    }
    
    .weather_list_average {
        overflow-y: auto;
    }
}

@media screen and (min-width: 561px) {
    .weather-flux {
        justify-content: center;
    }
}