.weather-flux {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(209, 228, 242);
    background: linear-gradient(150deg, rgba(209, 228, 242, 1) 50%, rgba(224, 219, 155, 1) 100%);
}